{% extends "index.html" %}
{% load staticfiles %}

{% block title %}
	Edit
{% endblock %}


{% block content-main %}

<div class="macros">
    {% autoescape off %}
		\( {{ book.new_commands | safe }} \)
	{% endautoescape %}
</div>

<h2>{{ module.code }} Exercise {{ chapter.number }}.{{ assessment.number }}</h2>

{% if question %}
	<div class="question-block">
		<!-- output question -->
		<h5>Question {{ question.number }}</h5>
		<div class="question">
			{% with question.get_descendants as subtree %}
				{% include "booknode.html" %}
			{% endwith %}

			<div class="answerbox">
				<p class="answerbox_title"><b>Your answer:</b></p>
				<div class="previewbox">
					{{ form.text.value | linebreaks }}
				</div>
			</div>
		</div>
		<br>
			<!-- output answer box -->
			<form action="" method="POST"> {% csrf_token %}
				<div class="answerbox">
					<p class="answerbox_title"><b>Edit answer:</b></p>
					<div class="answerform">
						<p>{{ form.question }}</p>
						<p>{{ form.user }}</p>
						<p>{{ form.text }}</p>
						<!--p>boolean: {{ form.readonly }}</p-->
						<!--input name="preview-answer" type="submit" value="Preview"/-->
						<input name="save-answer" type="submit" value="Save"/>
						<input name="save-and-exit" type="submit" value="Save and Exit"/>
						<input name="exit" type="submit" value="Exit"/>
					</div>
				</div> <!-- end answerbox -->
			</form>
	</div>

{% else %}
	<p>No question!</p>
{% endif %}

{% if question.get_parent_exercise %}
	<a href="{% url 'assessment' pk=question.get_parent_assessment.id %}">&larr; Back to Assessment</a>
{% endif %}

{% endblock %}



