{% extends "camelcore/base.html" %}
{% load static %}

{% block title %}
	Cardiff Maths e-Learning
{% endblock %}

{% block breadcrumbs %}
	&nbsp;
	{% if user.is_authenticated %}
		<a href="{% url 'user:user_home' user.pk %}">{{ user.username }}</a>
	{% else %}
		<a href="{% url 'camelcore.views.index' %}">home</a>
	{% endif %}
	<span> > </span><a href="{% url 'module:module_index' %}">Modules</a>
	<span> > </span><a href="{% url 'module:module_detail' module.pk %}">Modules</a>
{% endblock %}

{% block content-main %}
<div>
	<h1>{{ module.code }}</h1>
	<p>The module title is {{ module.title }}</p>
</div>
{% endblock %}