.DS_Store
*.pyc
*.swp
*.log
backup/*
*.aux
*.bbl
*.dvi
*.glo
*.idx
*.lof
*.lot
*.ps
*.synctex.gz
*.thm
*.toc

# sqlite databases
*.db

# pycharm files
.idea/*

bin/*
# VirtualEnv files
include/*
lib/*
local/*
venv/*

# IPython files
share/*
camel.db.bak

# Don't commit files in the collectstatic folder, except the README
!staticfiles/README.md
staticfiles/*

