{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	Cardiff Maths e-Learning
{% endblock %}


{% block breadcrumbs %}
	&nbsp;
	<a href="{% url 'user:user_home' user.identifier %}">{{ user.identifier }}</a>
{% endblock %}


{% block content-main %}
<h2>User Dashboard</h3>

<p>
Identifier: <b>{{ user.identifier }}</b>
<br></br>
{% if user.is_staff %}
	Status: <b>staff</b>
{% endif %}
<br></br>
{% if user.is_an_student %}
	Status: <b>student</b>
{% endif %}
<br></br>
{% if user.is_teacher %}
	Status: <b>lecturer</b>
	
{% endif %}
</p>

{% endblock %}






