{% extends "camelcore/index.html" %}
{% load staticfiles %}

{% block title %}
	Question
{% endblock %}

{% block content-main %}
	<h1>Set Question Deadline</h1>
	<p>You are currently setting the deadline for the following question: </p>
	{% include 'latexbook/recurselatextree.html' with root_node=question %}
	<br>
	<form action="" method="post">{% csrf_token %}
    {{ form }}
    <input type="submit" value="Add Deadline" />
</form>

<script type="text/javascript">
	$(document).ready( function(){
		$('#id_node').val('{{ question_number }}');

	});
</script>
{% endblock %}