<!DOCTYPE html>
{% load static %}
<html>
<head>
  {% block scripts %}
  <script type="text/javascript" src="{% static 'camelcore/js/main.js' %}"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="{% static 'camelcore/js/csrf_ajax.js' %}"></script>

  <!-- mathjax -->
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } },
    tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] },
    "HTL-CSS": { linebreaks: { automatic: true } },
  });
  </script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

    <!-- showhide -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('.showhide').addClass("hidden");
      $('.showhide_step').addClass("hidden");
      $('.showhide').click(function() {
        var $this = $(this);
        if ($this.hasClass("hidden")) {
          $(this).removeClass("hidden").addClass("visible");
      } else {
        $(this).removeClass("visible").addClass("hidden");
        }
      });
      $('.showhide_step').hover(function() {
        var $this = $(this);
        if ($this.hasClass("hidden")) {
          $(this).removeClass("hidden").addClass("visible");
        } else {
          $(this).removeClass("visible").addClass("hidden");
        }
      });
    });
  </script>

{% endblock %}
  <title>{% block title %} BASE.HTML {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="{% static 'camelcore/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'camelcore/css/style.css' %}" rel="stylesheet">
</head>

<style type="text/css">
  footer{position: fixed;
    width: 100%;
    bottom: 0;}
</style>

<body>
  {% block backdrop%}

  {% endblock %}

  {% block nav-main%}
  <div id="nav">
    <nav class="navbar navbar-default navbar-static affix-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="/"><img width="45" height="45.5" src="{% static 'camelcore/img/camel_logo_reversed.png' %}", alt="camel (from iconsETC)"/><span>C<sup>A</sup>M<sub>E</sub>L</span></a>
          
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="{% url 'user:user_home' user.pk %}">Home</a></li>
            {% else %}
              <li><a href="/">Home</a></li>
            {% endif %}
            <li><a href="{% url 'module:module_index' %}">Modules</a></li>
            {% if user.is_camel_staff %}
              <li><a href="{% url 'review:index' %}">Review</a></li>
            {% endif %}

            {% if user.is_authenticated %}
              <li><a href="{% url 'user:logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'user:login' %}">Login</a></li>
              <li><a href="{% url 'user:signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
  {% endblock %}

   {% block breadcrumbs-root %}
  <div id="breadcrumbs">
    {% block breadcrumbs %}
      &nbsp;
            {% if user.is_authenticated %}
                <a href="{% url 'user:user_home' user.identifier %}">{{ user.identifier }}</a>
            {% else %}
                <a href="{% url 'camelcore:index' %}">home</a>
            {% endif %}
    {% endblock %}
  </div>
  {% endblock %}

  {% block content-root %}
  <div class="container">
    <div class="row" style="margin-top:20px; margin-bottom:100px;">
      {% block content-main %}

      {% endblock %}
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  <footer id="copyright">
    <p>Copright by Group 9 2016</p>
  </footer>
  {% endblock %}

  <!-- <script src="{% static 'camelcore/js/jquery.js' %}"></script> -->
  <script src="{% static 'camelcore/js/bootstrap.min.js' %}"></script>

  <script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });

  $(function() {
  //navbar affix
  $('#nav').affix({
    offset: {
      top: $('header').height()
    }
  });
});

  $('#nav .navbar-nav li>a').click(function(){
    var link = $(this).attr('href');
    var posi = $(link).offset().top+20;
    $('body,html').animate({scrollTop:posi},700);
  })

  </script>
</body>
</html>