{% extends "camelcore/index.html" %}
{% load staticfiles %}

{% block title %}
	Fucker
{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	>
	<a href=".">{{ book }}</a>
{% endblock %}


{% block content-main %}
	<h1>{{ book }}</h1>
	<ul>
		{% if chapters|length > 0 %}
			{% for chapter in chapters %}
				<li>{{ forloop.counter }}). <a href="{% url 'module:latexbook:booknode_chapter_detail' module_number book.pk chapter.pk %}">{{ chapter }}</a></li>
			{% endfor %}
		{% else %}
			This book has no chapters!
		{% endif %}
	</ul>
{% endblock %}






