{% extends "latexbook/booknode_detail_view.html" %}
{% load staticfiles %}

{% block title %}
	Chapter
{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	>
	<a href=".">{{ chapter|first }}</a>
{% endblock %}


{% block content-main %}
<div>
	<h1>Homework</h1>
	<div class="homework">
		<div class="question-block">
			<p>Question:</p>
		</div>
		<div class="previewbox">
			<p>Your Answer:</p> 
		</div>
		<div class="answerbox">
		</div>
		<div>
			<button>Save &amp; Continue</button>
			<button>Save &amp; Exit</button>
			<button>Exit</button>
		</div>
	</div>
</div>
{% endblock %}