{% extends "module_detail.html" %}

{% block title %} 
	{{ object.title }}
{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}&gt;<a href="{% url 'book-detail' book.pk %}"> {{ book.title }}</a>
{% endblock %}

{% block content-main %}
{% spaceless %}
<div class="macros">
    {% autoescape off %}
		\( {{ book.new_commands | safe }} \)
	{% endautoescape %}
</div>

<div>
	<span style="float:left">
		&larr; <a href="{% url 'module-detail' module.pk %}"> {{ module.code }}</a>
	</span>
</div>

<br>
	

{% if module %}
	<h1>Book {{ book.number }}. {{ book.title }}</h1>
{% endif %}

{% if chapters %}
	<h3>Chapters</h3>
		{% for chap in chapters %}
			<p><a href="{% url 'chapter-detail' chap.pk %}"> {{ chap.number }}. {{ chap.title }}</a></p>
		{% endfor %}
	{% else %}
	    <p>No chapters</p>
	{% endif %}
{% endspaceless %}
{% endblock %}

{% block browse-horizontal %}
<p class="left">{% if prev %}<a href="{{ prev.get_absolute_url }}">&larr; {{ prev.number }}. {{ prev.title }}</a>{% endif %}</p>
<p class="right">{% if next %}<a href="{{ next.get_absolute_url }}">{{ next.number }}. {{ next.title }} &rarr;</a>{% endif %}</p>
{% endblock %}

{% block sidebar %}
	{% if toc %}
	<h3>Books</h3>
		{% for book in toc %}
			{% if book.pk != book.pk %}
				<p><a href="{% url 'book-detail' book.pk %}"> {{ book.number }}. {{ book.title }}</a></p>
			{% else %}
				<p>{{ book.number }}. {{ book.title }}</p>
			{% endif %}
		{% endfor %}
	{% else %}
	    <p>No toc</p>
	{% endif %}

{% endblock %}



