{% extends "book_detail.html" %}
{% load staticfiles %}

{% block scripts %}
	{{ block.super }} 
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	&gt;<a href="{% url 'chapter-detail' chapter.pk %}"> {{ chapter.title }}</a>
{% endblock %}

{% block content-main %}
{% spaceless %}
<div class="macros">
    {% autoescape off %}
		\( {{ book.new_commands | safe }} \)
	{% endautoescape %}
</div>

{% include "chapter_navigation_block.html" %}

{% if chapter %}
	{% with chapter.get_descendants_inc_self as subtree %}
		{% include "booknode.html" %}
	{% endwith %}
{% else %}
    <p>No chapters in the database.</p>
{% endif %}

{% endspaceless %}
{% endblock %}

{% block browse-horizontal %}
    {% with obj=chapter %}
        {% include "bottomnav.html" %}
    {% endwith %}
{% endblock %}

{% block sidebar %}
	{% if toc %}
    	<h3>Chapters</h3>
        {% with obj=chapter %}
            {% include "toc.html" %}
        {% endwith %}
    {%  endif %}
{% endblock %}
