{% extends "exercise_detail.html" %}
{% load staticfiles %}

{% block title %} 
	Question {{ object.number }}
{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	{% comment %}
	&gt;<a href="{% url 'exercise-detail' exercise.pk %}"> Exercise {{ chapter.number }}.{{ exercise.number }}</a>
	&gt;<a href="{% url 'question' question.pk %}"> Question {{ question.number }}</a>
	{% endcomment %}
{% endblock %}

{% block scripts %}
	{{ block.super }} 
    <!--link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"-->
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{% static 'core/js/main.js' %}" type"text/javascript"></script>
	<script src="{% static 'core/js/simple-expand.js' %}"></script>
	<script type="text/javascript">
	    $(function () {
	        $('.expander').simpleexpand();
	    });
	</script>
	<script type="text/javascript">
		$(function() {
			$( "#dialog-message" ).dialog({
			  modal: true,
			  buttons: {
			    Ok: function() {
			      $( this ).dialog( "close" );
			    }
			  }
			});
		});
		$(function(){
		   $('#result span').text($('#handler').val());
		});
		function preview() {
			var s = document.getElementById("answer-text").value
			alert(s);
		};
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("button").click(function(){
				$("#test").hide();
			});
			$('#post-form').on('submit', function(event){
			    event.preventDefault();
			    console.log("form submitted!")  // sanity check
			    create_post();
			});
		});
	</script>
		
{% endblock %}

{% block content-main %}
{% spaceless %}

	<div class="macros">
	    {% autoescape off %}
			\( {{ module.newcommands | safe }} \)
		{% endautoescape %}
	</div>

<hr>

debug message: {{ debug }}

<h3>{{ module.code }} Exercise {{ chapter.number }}.{{ exercise.number }}</h3>

{% if question %}

	<!-- output question -->
	<h5>Question {{ question.number }}</h5>
	{% with question.get_descendants as subtree %}
		<div class="question">
			{% include "question_node_" %}
		</div>
	{% endwith %}

	<!-- output answer box -->
	<div class="answerbox">
		<!--a class="expander" href="#" data-expander-target="div.answerform"-->
			<p class="answerbox_title"><b>Your answer:</b></p>
			<!--/a-->			
		<div class="answerform">
			<form action="" method="POST" id=answer-form> {% csrf_token %}
				<p>{{ form.question }}</p>
				<p>{{ form.user }}</p>
				<p>{{ form.text }}</p>
				<p>boolean: {{ form.readonly }}</p>
				<!--p class="answerbuttons">
					<button onclick="confirm('Are you sure?')">Submit</button>			
					<!--input id="preview-answer" type="submit" value="Preview" /-->
					<!--input id="save-answer" type="submit" value="Save" /-->
					<!--input id="submit-answer" type="submit" value="Submit" /-->
				</p-->
			<!--button onclick="save_answer()">Save</button-->
			<!--button onclick="preview()">Preview</button-->			
			<input name="preview-answer" type="submit" value="Preview"/>
			<input name="save-answer" type="submit" value="Save"/>
			</form>
				
		</div>
	</div> <!-- end answerbox -->

{% else %}
	<p>No question!</p>
{% endif %}

<br/>
<a href="{% url 'exercise-detail' exercise.pk %}">&larr; Exercise {{ chapter.number }}.{{ exercise.number }}</a>
<br/>

{% endspaceless %}
{% endblock %}

{% block browse-horizontal %}
<span class="left">{% if prev %}<a href={% url 'question' prev.pk %}>&lt; qu. {{ prev.number }}</a>{% endif %}</span>
<span class="right">{% if next %}<a href={% url 'question' next.pk %}>qu. {{ next.number }} &gt;</a>{% endif %}</span>
{% endblock %}


{% block sidebar %}
	{% if toc %}
	<h4>{{ module.code }} Exercise {{ chapter.number }}.{{ exercise.number }}</h4>
		<ul>
		{% for qu in toc %}
			<li><a href="{% url 'question' qu.pk %}"> Question {{ qu.number }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	    <p>No toc</p>
	{% endif %}

{% endblock %}

<script src="{% static 'core/js/main.js' %}" type"text/javascript"></script>
