{% extends "base.html" %}
{% load static %}

{% block title %}
	Sign Up Page
{% endblock %}

{% block content-main %}
<h1>Sign Up</h1>

<form id="signup_form" method="POST" action="">
    {% csrf_token %}
	<table>
		{{ form }}
	</table>
    <input id="btn_signup" type="submit" value="submit" />
</form>
<script type="text/javascript">
	// globals
	var password_match = false;
	$(document).ready( function(){
		$('#id_password2').focusout( function(){ // when password2 text box has lost focus.
			var confirm_password = $(this).val();
			var initial_password = $('#id_password1').val();
			
			//if both passwords are not empty and both do not match
			if(((confirm_password.length > 0) &&(initial_password.length > 0)) && !(initial_password == confirm_password)){
				// if the passwords do not match
				$(this).css('background-color', "#ff4d4d");
				$('#id_password1').css('background-color', "#ff4d4d");
				password_match = false;
			}else{
				// if the passwords match
				$(this).css('background-color', "#fff");
				$('#id_password1').css('background-color', "#fff");
				password_match = true;
			}
		});
	});
</script>
{% endblock %}


