{% extends "module/chapter_detail.html" %}

{% block title %} 
	{{ module.code }} {{ node_type | title }}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}&gt;&nbsp;<a href="{% url 'module:chapter_selected' node_type chapter.pk %}">{{ node_type | title }}s</a>
{% endblock %}

{% block content-main %}
{% spaceless %}

<div class="macros">
    {% autoescape off %}
		\( {{ book.new_commands | safe }} \)
	{% endautoescape %}
</div>

{% include "module/chapter_navigation_block.html" %}

<h1>Chapter {{ chapter.number }} - {{ node_type | title }}s </h1>
<br>
{% if booknodes %}
	<ul>
	{% load mptt_tags %}
	{% for booknode in booknodes %}
		{% with booknode.get_descendants_inc_self as subtree %}
				{% include "module/booknode.html" %}
		{% endwith %}
	{% endfor %}
	</ul>
{% else %}
	<p>No {{ node_type }}s!</p>
{% endif %}

{% endspaceless %}
{% endblock %}


{% block browse-horizontal %}
{% spaceless %}
{% if prev %}
	<span class="left">
		<a href="{% url 'module:chapter_selected' node_type prev.pk %}">&lt; Chapter {{ prev.number }} - {{ node_type | title }}s</a>
	</span>
{% endif %}
{% if next %}
	<span class="right">
		<a href="{% url 'module:chapter_selected' node_type next.pk %}">&lt; Chapter {{ next.number }} - {{ node_type | title }}s</a>
	</span>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block sidebar %}
{% spaceless %}
	{% if toc %}
	<h3>{{ node_type | title }}s</h3>
		{% for chap in toc %}
			{% if chap.pk != chapter.pk %}
				<p><a href="{% url 'module:chapter_selected' node_type chap.pk %}">{{ chap.number }}. {{ chap.title }}</a></p>
			{% else %}
				<p>{{ chap.number }}. {{ chap.title }}</p>
			{% endif %}
		{% endfor %}
	{% else %}
	    <p>No toc</p>
	{% endif %}
{% endspaceless %}
{% endblock %}