{% block prefix %}
	{% if not review %}
		<form id="answer_form" action="{% url 'module:latexbook:homeworkquiz:multiquestion' module_number book_number chapter_number node.parent.pk %}" method="POST">{% csrf_token %}
	{% endif %}
		<fieldset class='latex_environment_questiontype_multiplechoice'>
		<table>
{% endblock %}

{% block suffix %}
		</table>
		</fieldset>
		{% if user.is_authenticated %}
			{% if show %}
				<input value="Submit" type="Submit">
				<input type="hidden" name="user" value="{{ user.identifier }}">
				<button>Save</button>
			{% else %}
				{% if not deadline %}
					{% if not review %}
						<a href="{% url 'module:latexbook:homeworkquiz:do_question' module_number book_number chapter_number node.parent.pk %}">Start</a>
						{% if user.is_camel_staff %}
							<a href="{% url 'module:latexbook:homeworkquiz:set_deadline' module_number book_number chapter_number node.parent.pk %}">Set Deadline</a>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	</form>
{% endblock %}
