 class="btn btn-primary"{% load staticfiles %}

{% block prefix %}
	{% if not review %}
		<form id="answer_form" action="{% url 'module:latexbook:homeworkquiz:singlequestion' module_number book_number chapter_number node.parent.pk %}" method="POST">{% csrf_token %}
	{% endif %}
		<fieldset class='latex_environment_questiontype_singlechoice'>
		<table>
{% endblock %}

{% block suffix %}
		</table>
		</fieldset>
		{% if user.is_authenticated %}
			{% if show %}
				{% if previous_answer.is_submitted %}
					<p>Submitted on {{ previous_answer.submitted_date }}</p>
				{% else %}
					{% if not late %}
						<input id="btn_submit" class="btn btn-primary" value="Submit" type="Submit">
						<input id="user" type="hidden" name="user" value="{{ user.identifier }}">
						<input id="node" type="hidden" name="node" value="{{ node.parent.pk }}">
						<input id="chapter" type="hidden" name="chapter" value="{{ chapter_number }}">
						<input id="book" type="hidden" name="book" value="{{ book_number }}">
						<input id="module" type="hidden" name="module" value="{{ module_number }}">
						<button id="btn_save" class="btn btn-primary" >Save</button>
						<script type="text/javascript" src="{% static 'homeworkquiz/js/singleanswer_ajax.js' %}"></script>
					{% else %}
						<p><b>This question cannot be answered as it has been past the deadline above</b></p>
					{% endif %}
				{% endif %}
			{% else %}
				{% if not deadline %}
					{% if not review %}
						<a href="{% url 'module:latexbook:homeworkquiz:do_question' module_number book_number chapter_number node.parent.pk %}" class="btn btn-primary">Start</a>
						{% if user.is_camel_staff %}
							<a href="{% url 'module:latexbook:homeworkquiz:set_deadline' module_number book_number chapter_number node.parent.pk %}" class="btn btn-primary">Set Deadline</a>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	</form>

	<script type="text/javascript">
		$(document).ready( function(){
			$('.XYZ').each(function(i){
				if($(this).attr("value") == "{{ previous_answer.answer }}"){
					$(this).attr('checked', true);
					return;
				}
			});	
		});
	</script>
{% endblock %}
