{% extends "base.html" %}
{% load static %}

{% block title %}
	Cardiff Maths e-Learning
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	>
	<a href="{% url 'module:module_index' %}">Modules</a>
	>
	<a href="{% url 'module:module_detail' module.pk %}">{{ module }}</a>
{% endblock %}

{% block content-main %}
<div>
	<h1>{{ module.code }} - {{ module.title }}</h1>
	{% if learningmaterials %}
		{% if learningmaterials.BookNode %}
			<h2>Books</h2>
			<ul>
				{% for book in learningmaterials.BookNode %}
					<a href="{% url 'module:latexbook:booknode_detail' module.pk book.pk %}"><li>{{ book }}</li></a>
				{% endfor %}
			</ul>
		{% endif %}
	{% else %}
		<p>No learning materials are currently available for this module!</p>
	{% endif %}
</div>
{% endblock %}