{% extends "base.html" %}
{% load static %}

{% block title %}
	Cardiff Maths e-Learning
{% endblock %}

{% block breadcrumbs %}
	&nbsp;
	{% if user.is_authenticated %}
		<a href="{% url 'user:user_home' user.pk %}">{{ user.username }}</a>
	{% else %}
		<a href="{% url 'camelcore.views.index' %}">home</a>
	{% endif %}
	<span> > </span> <a href="{% url 'module:module_index' %}">Modules</a>
{% endblock %}


{% block content-main %}
<div>
	{% if modules|length > 0 %}
	<h1>Modules Available</h1>
		{% for mo in modules %}
			<a href="{% url 'module:module_detail' mo.pk %}">{{ mo.code }} - {{ mo.title }}</a>
		{% endfor %}
	{% else %}
		<h1>No Modules Available</h1>
	{% endif %}
</div>

{% endblock %}