{% extends "base.html" %}
{% load static %}

{% block title %}
	Cardiff Maths e-Learning
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	>
	<a href="{% url 'module:module_index' %}">Modules</a>
	>
	<a href="{% url 'module:module_detail' module.pk %}">{{ module }}</a>
{% endblock %}

{% block content-main %}
<div>
	<h1>{{ module.code }} - {{ module.title }}</h1>
	<h2>Books</h2>
	{% if learningmaterials and learningmaterials.Book %}
			<ul>
				{% for book in learningmaterials.Book %}
					<a href="{% url 'module:latexbook:booknode_detail' module.pk book.pk %}"><li>{{ book }}</li></a>
				{% endfor %}
			</ul>
	{% else %}
		<p>No books are currently available for this module!</p>
	{% endif %}
	<a href="{% url 'camelcore:module_dashboard:create_book' module.pk %}">Create new book</a>
</div>
{% endblock %}
