{% extends "index.html" %}

{% block title %}
	{{ module.code }}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	&gt;&nbsp;<a href="{% url 'module-detail' module.pk %}">{{ module.code }}</a>
{% endblock %}

{% block content-main %}

{% if module %}
   	<h2><u>{{ module.long_name }}</u></h2>
{% endif %}

<h3>Books</h3>
{% if books %}
	<table class="books">
		{% for book in books %}
			<tr>
				<td><a href="{% url 'book-detail' book.pk %}">{{ book.number }}. {{ book.title }}</a></td>
				{#<td><a href="{% url 'assessment-detail' book.pk %}">Assessments</a></td>#}
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No books for {{ module.code }} in the database.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
	{% if toc %}
	<h3>Modules</h3>
	<ul class='toc'>
		<ul>
		{% for module in toc %}
			<li><a href="{% url 'module-detail' module.pk %}"> {{ module.code }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
	    <p>No toc</p>
	{% endif %}

{% endblock %}


{% block browse-horizontal %}
<span class="left">{% if prev %}<a href="{{ prev.get_absolute_url }}">&lt; {{ prev.code }}</a>{% endif %}</span>
<span class="right">{% if next %}<a href="{{ next.get_absolute_url }}">{{ next.code }} &gt;</a>{% endif %}</span>
{% endblock %}
